@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  /* colors */
  --color-normal-blue: #42a0d6;
  --color-purple-blue: #605dec;
  --color-light-gray: #d2d2d2;
  --color-base: #ffffff;

  /* typography */
  --font-400-regular: normal 400 16px "Outfit", sans-serif;
  --font-700-bold: normal 700 16px "Outfit", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin-top: 80px;
  font: var(--font-400-regular);
}

/* Header component */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    var(--color-normal-blue),
    var(--color-light-gray)
  );
}

.header__container {
  max-width: 95%;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__toggle {
  font-size: 34px;
  cursor: pointer;
}

.menu {
  height: 130px;
  position: fixed;
  top: -100%;
  bottom: 476px;
  left: 20px;
  right: 140px;
  border-radius: 4px;
  background-color: var(--color-base);
  transition: all 0.5s;
}

.menu--active {
  top: 54px;
}

.menu__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu__item {
  margin: 0;
  padding: 3px;
  border-radius: 4px;
}

.menu__item:hover {
  color: var(--color-base);
  background-color: var(--color-purple-blue);
}

.menu__link {
  color: inherit;
  text-decoration: none;
}

.linked {
  width: 126px;
  height: 71px;
}

.linked__logo {
  width: 100%;
  height: 100%;
}

.btn {
  padding: 0.7rem;
  border: none;
  border-radius: 4px;
  background-color: var(--color-base);
  color: var(--color-purple-blue);
  cursor: pointer;
}

.btn--turno {
  width: 130px;
  background-color: var(--color-purple-blue);
  color: var(--color-base);
}

.btn--turno:hover {
  background-color: var(--color-base);
  color: var(--color-purple-blue);
  transition: 0.5s ease-in-out;
}

/* Main component */

.main {
  width: 100vw;
  height: 100vh;
}

/* Hero section */

.hero {
  width: 100vw;
  height: 290px;
  margin-top: -90px;
  padding-top: 90px;
  text-align: center;
  background: url("../images/banner.png") no-repeat right top;
  background-size: cover;
}

.hero__title {
  padding: 0;
  font: var(--font-400-regular);
  font-size: 1.8rem;
}

.hero__title,
.hero__paragraph {
  color: var(--color-base);
  max-width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

/* Emergency section */

.emergency {
  margin-top: 0;
  padding: 1rem;
  background-color: var(--color-purple-blue);
  text-align: center;
}

.emergency__title,
.emergency__paragraph {
  font: var(--font-400-regular);
  color: var(--color-base);
}

.emergency__title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.emergency__paragraph {
  margin-top: 0;
  font-size: 2rem;
}
