:root {
  --whitesmoke: whitesmoke;
  --white: white;
  --gris: grey;
}

body {
  background-color: cadetblue;
}

/*
  -------------------------------------
  barra navegacion
  -------------------------------------
*/
nav {
  margin: -16px;
}

.main-nav {
  background-color: var(--gris);
  list-style: none;
  display: flex;
  text-align: center; /*propiedad heredable del nav para abajo*/
  /*flex-wrap: wrap si no hay espacio divide en dos o tres lineas*/
  font-weight: bold;
  flex-wrap: wrap;
}

.nav-item {
  flex-grow: 1;
  /* trabaja con flex-wrap: wrap*/
  min-width: 180px;
}

.nav-item_link {
  background-color: var(--whitesmoke);
  display: block;
  text-decoration: none;
  padding: 10px 0;
  color: #333;
}

.nav-item_link:hover {
  background-color: papayawhip;
  /*text-decoration: underline;*/
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
